@font-face {
  font-family: "NexaLight";
  src: url(./fonts/NexaLight.otf);
}
@font-face {
  font-family: "NexaBold";
  src: url(./fonts/NexaBold.otf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  direction: rtl;
  font-family: "NexaLight";
  font-weight: 400;
  line-height: 1.25rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

h2 {
  color: #e88b0c;
  line-height: 3.75rem;
  font-size: 3.75rem;
  font-weight: 400;
}

header {
  background-color: #0e1b36;
}
header .wrapper {
  padding: 0 5%;
}
header .wrapper .header {
  width: 100%;
  height: 5.625rem;
  background-color: #0e1b36;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .wrapper .header__links {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .wrapper .header__links select {
  background: transparent;
  width: 100px;
  height: 30px;
  color: white;
  border-radius: 5px;
}